@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.top {
    display: block;
    width: 100%;
    max-width: 1550px;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
    clear: both;
  }
  
  .circle {
    z-index: 1;
    position:absolute;
    text-align: center;
    line-height: 50px;
    color: #FFF4F4;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #1E3564;
    border-radius: 50px;
    background-color: #1E3564;
    background-image: url('\Magazine.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  
  .title {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 16pt;
    text-align: center;
    color: #1E3564;
    line-height: 45px;
    float: none;
    border: 2px solid #1E3564;
    background-color: #F5F5DC;
    width: 350px;
    border-radius: 60px;
    padding-top: 5px;
    padding-left: 20px;
    box-shadow: 2px 2px 2px 2px rgb(216, 203, 203);
  }


.search {
    display: block;
    margin-left: 35%;
    width: 100%;
    
}
.input1 {
    font-family: 'Pretendard-Regular';
    font-size: 13pt;
    float: left;
    width: 25%;
    height: 15px;
    padding: 10px;
    border: #1E3564 solid 3px;
    resize: none;
}

.btn {
    z-index: 1;
    position: absolute;
    float: left;
    margin-left: -3px;
    background-color: #1E3564;
    background-image: url('\Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 41px;
    height: 41px;
    border: #1E3564 solid 3px;
    cursor: pointer;
}

.boxA {
    line-height: 50px;
    margin-top: 3%;
    display: block;
    width: 100%;
    height: 50px;
    float: left;
    clear: both;
}

.dictionary {
    font-family: 'Pretendard-Regular';
    text-align: right;
    padding-right: 5%;
    float: left;
    color: white;
    background-color: #1E3564;
    width: 75%;
    height: 100%;
}

.word_list_title {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 16pt;
    padding-top: 3px;
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
    color: white;
    background-color: #609AF0;
}

.boxB {
    display: block;
    width: 100%;
    float: left;
    clear: both;
}

.result {
    font-family: 'Pretendard-Regular';
    font-size: 15pt;
    background-image: url('\note.png');
    line-height: 1.55;
    float: left;
    width: 80%;
    height: 610px;
}

.result_word {
    margin-left: 15px;
    float: left;
    width: 200px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add_btn {
    margin-top: 5px;
    z-index: 1;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #1E3564;
    border-radius: 5px;
  }
  
  .add_btn:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 75%;
    background: #1E3564;
  }
  
  .add_btn:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background: #1E3564;
    height: 75%;
    width: 2px;
  }
  
  .add_btn:hover:before,
  .add_btn:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .add_btn:hover {
    background-color: #1E3564;
    transition: 0.2s;
  }

.result_content {
    float: left;
    margin-top: -30px;
    margin-left: 260px;
    width: 75%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word_list {
    float: right;
    width: 20%;
    height: 610px;
    background-color: #FBCEB1;
    overflow-y: scroll;
}

.word_list::-webkit-scrollbar {
    width: 10px;  
}

.word_list::-webkit-scrollbar-thumb {
    background: #1E3564;
    border-radius: 10px;
}

.word_list::-webkit-scrollbar-track {
    background: #FBCEB1;
}

.color {
    margin-left: 8%;
    margin-top: 20px;
    float: left;
    width: 15%;
    height: 37px;
}

.color:nth-child(1) {
    background-color: #f00;
}

.color:nth-child(2) {
    background-color: #FF9900;
}

.word_title {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 14pt;
    float: left;
    border: white solid 1px;
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 2%;
    width: 50%;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dlt_btn {
    margin-top: 20px;
    padding-bottom: 5%;
    float: left;
    width: 20%;
    height: 37px;
    position: relative;
    background-color: white;
    border-color: transparent;
    cursor: pointer;
}
.dlt_btn:after {
    content: "\00d7";
    font-size: 20pt;
}

.alert {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 110px;
    background-color: #F5F5DC;
    border: 5px solid #1E3564;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: bold;
    color: #1E3564;
  }

  .alert-content {
    margin-bottom: 8px;
  }
  
  .close-btn {
    padding: 7px 15px;
    margin-top: 5px;
    background-color: #1E3564;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
  }
  
  .close-btn:hover {
    background-color: #609AF0;
  }
  
  .close-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #333333;
  }
  